.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top,
.bot {
  /* border: 1px solid red; */
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tasksLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
